/* #### navbar #### */
.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background: var(--nero);/*#252525*/
    width: 100%;
}

.brand-and-toggler {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.navbar-brand {
    text-transform: uppercase;
    font-family: var(--poppins);
    font-size: 1.7rem;
    font-weight: 800;
}

.navbar-toggler {
    border: none;
    font-size: 1.7rem;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: var(--transition);
}

.navbar-toggler:hover {
    opacity: 0.8;
}

.navbar-collapse {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.nav-item {
    text-align: center;
    padding: 0.6rem;
    position: relative;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 0;
    height: 2px;
    background: var(--blue);
    transition: var(--transition);
}

.nav-item:hover::after {
    width: 100px;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: var(--transition);
}

.nav-link:hover {
    color: var(--blue);
}

.nav-active .nav-link {
    color: var(--blue);
}

/*** show nav class ***/
.showNav {
    height: 385px;
}

/* #### HOME PAGE #### */
.home {
    padding: 5rem 0 2.5rem 0;

}

.home .row>div {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--nero);
    border-radius: 10px;
    margin: 2rem 0;
}

.home .row-left {
    text-align: center;
}

.home .row-left h3 {
    color: var(--blue);
    font-weight: 400;
   
}

.home .row-left h1 {
    font-size: 2rem;
    font-family: var(--poppins);
    text-transform: capitalize;
    line-height: 1.2;
    font-weight: 900;
}

.home .row-left h1 span {
    color: var(--blue);
}

.home .row-left h2 {

    font-family: var(--poppins);
    font-size: 1rem;
}

.home-pg-btn {
    display: flex;
    margin: 1rem 0;
}

.home-pg-btn button {
    padding: 0.8rem;
    margin-right: 0.6rem;
    border: 1px solid #f7f7f7;
}

.home-pg-btn button:first-child {
    border-color: var(--blue);
}

.home-pg-btn button:last-child {
    background: transparent;
    color: #fff;
}

.home .img-container {
    position: relative;
    width: 100%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 370px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.home-pg-btn {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.btn {
    position: relative;
    background-color: #6077a1;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 1;
}

.btn::before {
    content: "â";
    position: absolute;
    font-size: 40px;
    color: #aee1f9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: 0.4s ease;
    z-index: 0;
}

.btn:hover {
    box-shadow: 0 0 15px #aee1f9, 0 0 25px #aee1f9;
}

.btn:hover::before {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.6;
    animation: bloom 1s ease forwards;
}

@keyframes bloom {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.8;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0.6;
    }
}

/* #### ABOUT PAGE #### */
.about {
    padding: 5rem 0 2.5rem 0;
}

.about .row-right {
    padding: 3rem 0;
}

.about .row-right p {
    margin: 1rem 0;
}

.about-content {
    margin: 1.5rem 0;
}

.about-content li {
    display: flex;
    margin: 0.6rem 0;
}

.about-content li span {
    flex: 1;
    font-size: 1rem;
}

.about-content li span:first-child {
    color: #fff;
    font-weight: 600;
}

.about .row-right h3 {
    color: var(--blue);
    font-size: 1.5rem;
}

.about .row-right h3 span {
    color: #fff;
    font-weight: 400;
}

.row-left img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

/* #### SERVICES PAGE #### */
.services {
    padding: 5rem 0 2.5rem 0;
}

.services>.text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

.services .item {
    text-align: center;
    padding: 1.5rem 0 4rem 0;
    background: var(--nero);
    margin: 1.5rem 0;
    cursor: pointer;
    transition: var(--transition);
}

.services .item span {
    font-size: 5rem;
    color: var(--blue);
}

.services .item h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
}

.services .item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: var(--blue);
    width: 50px;
    height: 0.5px;
    left: 50%;
    transform: translateX(-50%);
}

.services .item:hover {
    background: var(--blue);
}

.services .item:hover span {
    color: #fff;
}

.services .item:hover h2 {
    color: var(--black);
}

.services .item:hover h2::after {
    background: var(--black);
}

.services .btn {
    margin: 2.5rem auto 1rem auto;
    display: block;
}

/* #### SKILLS PAGE #### */
.skills {
    padding: 5rem 0 2.5rem 0;
}

.skills>.text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

.skills .row {
    margin: 1rem 0;
}

.skills .item {
    padding: 0.5rem 0;
    margin: 0.3rem 0;
}

.skills .item-text {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1.3rem;
    position: relative;
}

.skills .item-text span:last-child {
    position: absolute;
}

.skills .item-text .w-90 {
    margin-left: 85%;
}

.skills .item-text .w-75 {
    margin-left: 70%;
}

.skills .item-text .w-85 {
    margin-left: 80%;
}

.skills .item-text .w-80 {
    margin-left: 75%;
}

.skills .item-text .w-60 {
    margin-left: 55%;
}

.skills .item-text .w-68 {
    margin-left: 63%;
}

.progress {
    margin: 0.8rem 0;
    border-radius: 10px;
    height: 16px;
    width: 100%;
    background-color: var(--nero);
    overflow: hidden;
}

.progress-bar {
    background: var(--blue);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.progress-bar.w-90 {
    width: 90%;
}

.progress-bar.w-75 {
    width: 75%;
}

.progress-bar.w-85 {
    width: 85%;
}

.progress-bar.w-80 {
    width: 80%;
}

.progress-bar.w-60 {
    width: 60%;
}

.progress-bar.w-68 {
    width: 68%;
}

/* #### PROJECTS PAGE #### */
.projects {
    padding: 5rem 0 2.5rem 0;
}

.projects>.text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

.projects .item {
    margin: 2rem 0;
    height: 320px;
    width: 100%;
    position: relative;
}

.projects .row .item:nth-child(1) {
    background: url(../assets/home.jpeg) center/cover no-repeat;
}

.projects .row .item:nth-child(2) {
    background: url(../assets/css.jpg) center/cover no-repeat;
}

.projects .row .item:nth-child(3) {
    background: url(../assets/carousel1.jpg) center/cover no-repeat;
}

.projects .row .item:nth-child(4) {
    background: url(../assets/banner-img-1.jpg) center/cover no-repeat;
}

.projects .row .item:nth-child(5) {
    background: url(../assets/x1.png) center/cover no-repeat;
}

.projects .row .item:nth-child(6) {
    background: url(../assets/x3.png) center/cover no-repeat;
}

.projects .item .item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    opacity: 0;
    transition: var(--transition);
}

.projects .item .item-overlay a {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--poppins);
}

.projects .item .item-overlay h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 3px;
}

.projects .item:hover .item-overlay {
    opacity: 0.9;
}

/* #### BLOG PAGE #### */
.blog {
    padding: 5rem 0 2.5rem 0;
}

.blog>.text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

.blog .item {
    margin: 1rem 0;
    background: var(--nero);
    border-radius: 5px;
    ;
    overflow: hidden;
}

.blog .item .item-img {
    border-bottom: 8px solid var(--blue);
    overflow: hidden;
}

.blog .item .item-img img {
    transition: var(--transition);
}

.blog .item .item-img:hover img {
    transform: scale(1.2);
}

.blog .item .item-content {
    padding: 1.5rem;
}

.blog .item .item-content span {
    color: var(--blue);
    text-transform: uppercase;
}

.blog .item .item-content span .fas {
    font-size: 0.85rem;
}

.blog .item .item-content h2 {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1.4rem;
}

.blog .pagination {
    margin: 3rem 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog .page-link {
    background: var(--nero);
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 700;
    transition: var(--transition);
}

.blog .page-link:nth-child(2) {
    background: var(--blue);
}

.blog .page-link:hover {
    background: var(--blue);
}

/* #### CONTACT PAGE #### */
.contact {
    padding: 5rem 0 2.5rem 0;
}

.contact>.text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
}

.contact .row {
    margin: 1rem 0;
}

.contact .row>div {
    margin: 2.5rem 0;
    padding: 2rem 0;
}

.contact .col-left h2 {
    text-transform: uppercase;
}

.contact .contact-info {
    margin: 1rem 0;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

.contact .contact-info>span {
    color: var(--blue);
    font-size: 2.6rem;
    margin-right: 1.2rem;
}

.contact .contact-info h3 {
    font-size: 1rem;
    font-weight: 400;
}

.contact .contact-info h3 span {
    text-transform: uppercase;
    font-size: 1.05rem;
}

.contact .contact-social-links {
    display: flex;
}

.contact .contact-social-links a {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--nero);
    margin: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition);
}

.contact .contact-social-links a:first-child {
    margin-left: 0;
}

.contact .contact-social-links a:hover {
    background: var(--blue);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin: 1rem 0;
    background: var(--nero);
    border: 2px solid transparent;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 25px;
    outline: 0;
    caret-color: #fff;
    color: #c5bfbf;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--blue);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    text-transform: uppercase;
}

/* #### footer #### */
.footer {
    padding: 2.5rem 0;
    border-top: 1.5px solid #252525;
}

.footer-title {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: var(--poppins);
    font-weight: 700;
}

.footer .col {
    text-align: center;
    padding: 1rem 0;
}

.footer .col:first-child .text {
    width: 80%;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links a {
    background: var(--nero);
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 1.5rem 0.5rem;
    transition: var(--transition);
}

.social-links a:hover {
    background: var(--blue);
}

.footer-links a {
    display: block;
    text-transform: capitalize;
    padding: 0.2rem 0;
    transition: var(--transition);
}

.footer-links a .fas {
    display: none;
}

.footer-links a:hover {
    color: #fff;
}

.footer .col:last-child div {
    padding: 0.2rem 0;
}

.footer .col:last-child .fas {
    padding-right: 0.5rem;
}

.footer-text .text {
    text-align: center;
}

/* #### Media Queries #### */
@media screen and (min-width: 500px) {

    /* home page */
    .home .row-left h1 {
        font-size: 4rem;
    }

    .home .row-left h2 {
        font-size: 1.4rem;
    }

    .home-pg-btn button {
        padding: 1rem 1.5rem;
    }

    .home .img-container {
        width: 320px;
        height: 320px;
    }
}

@media screen and (min-width: 768px) {

    /* footer */
    .footer .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* about page */
    .about .row-left {
        width: 400px;
        height: 400px;
        margin: 1rem auto;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
    }

    /* services page */
    .services .row {
        display: flex;
        flex-wrap: wrap;
    }

    .services .item {
        flex: 0 0 calc(50% - 2rem);
        margin: 1rem;
    }

    /* skills page */
    .skills .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    /* projects page */
    .projects .row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }

    .projects .row .item {
        margin: 0;
    }

    .projects .row .item:nth-child(2) {
        grid-column: 2/4;
    }

    .projects .row .item:nth-child(3) {
        grid-column: 1/3;
    }

    .projects .row .item:nth-child(6) {
        grid-column: 2/4;
    }

    /* blog page */
    .blog .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    /* contact page */
    .contact-form .form-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }

    .contact .row>div {
        margin: 0;
    }
}

@media screen and (min-width: 992px) {

    /* navbar section */
    .navbar-toggler {
        display: none;
    }

    .navbar .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-nav {
        display: flex;
        justify-content: flex-end;
    }

    .navbar-collapse {
        height: 100%;
        flex: 1 0 auto;
    }

    .brand-and-toggler {
        flex: 0 0 100px;
    }

    .nav-item {
        margin: 0 0.5rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    /* home page */
    .home .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .home .row>div {
        height: calc(100vh - 73px);
        border: none;
        margin: 0;
        align-items: flex-start;
    }

    .home .row-left {
        text-align: left;
    }

    .home .img-container {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }

    .home .img-border {
        height: 90%;
        width: 100%;
        transition: var(--transition);
        border-radius: unset;
        background: transparent;
    }

    .home .img-border:hover {
        transform: translateY(-14px);
    }

    /* about page */
    .about .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 2rem;
    }

    /* services page */
    .services .item {
        flex: 0 0 calc(33.33% - 2rem);
    }

    /* contact page */
    .contact .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    /* footer */
    .footer .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .row .col {
        text-align: left;
    }

    .footer .col:first-child .text {
        margin: 0;
    }

    .social-links {
        justify-content: flex-start;
    }

    .footer-links a .fas {
        display: inline-block;
    }

    /* blog page */
    .blog .row {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blog .container {
    background-color: #fff;
}

.footer {
    background: var(--dark);
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container>div {
    margin: 40px 0;
}

.footer-container h3 {
    color: var(--lightblue);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 7px;
}

.footer-container p {
    opacity: 0.7;
}

.footer>p {
    text-align: center;
    font-size: 14px;
}

/* RESPONSIF HOME & ABOUT PAGE */
/* Untuk layar kecil hp */
@media screen and (max-width: 499px) {

    .home .row,
    .about .row {
        flex-direction: column;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
    }

    .home .row>div,
    .about .row-left {
        width: 100%;
        height: auto;
        padding: 1rem;
        position: relative;
    }

    .blob-container {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .blob-container svg {
        width: 100%;
        max-width: 98%;
        max-height: 90%;
        height: auto;
    }

    .foto {
        width: 50%;
        max-width: 260px;
        max-height: 315px;
        height: 50%;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

    .about .row-right .text {
        font-size: 1rem;
    }
}

/* Tambahan untuk tablet */
@media screen and (min-width: 500px) and (max-width: 991px) {
    .about .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blob-container {
        width: 100%;
        max-width: 350px;
    }

    .foto {
        max-width: 300px;
        height: auto;
    }

    .about .row-right {
        text-align: center;
    }
}

@media screen and (max-width: 699px) {
    .blob-container {
        max-width: 900px;
        align-items: center;
    }
}

/* Untuk tampilan laptop home*/
.home .blob-container {
    position: relative;
    width: 510px;
    height: 400px;
}

.home .blob-container svg {
    width: 100%;
    height: 100%;
}

.home .foto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 335px;
    height: 410px;
    transform: translate(-50%, -60%);
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Untuk tampilan laptop home*/
.about .blob-container {
    position: relative;
    width: 100%;
    max-width: 550px;
    max-height: 500%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.about .blob-container svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.about .foto {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 65%;
    height: 79%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}